@using RecordLabel.Catalogue
@using RecordLabel.Web
@model Tuple<Release[], Article[]>

@System.Web.Optimization.Styles.Render("~/Css/Home/Index")

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="container">
    <div class="row">
        <section class="col-sm-8 col-xs-12 front-page-main">
            <div class="row">
                <div class="responsive-img-box aspect-16by9">
                    <img src="@Url.Content($"~/{Model.Item1[0].Cover?.FullFileName()}")" />
                    <div class="content" name="description">
                        <div name="desc-container">item.Title</div>
                    </div>
                </div>
            </div>

            <section class="row new-releases">
                <div class="title text-muted">@Localization.Home_NewReleases</div>
                @foreach (Release item in Model.Item1)
                {
                    <div class="item col-xs-4 col-lg-3" data-id="@(item.Id)">
                        <a class="thumb" href="Release/View/@item.Id">
                            <img class="highlight-border" src="@Url.Content($"~/{item.Cover?.ThumbnailFileName()}")" />
                        </a>
                        <div class="title">@Html.ActionLink(item.Artist.Name, "ByArtist", "Release", new { Id = item.ArtistId }, null)</div>
                        <div class="subtitle">@Html.ActionLink(item.Title, "View", "Release", new { Id = item.Id }, null)</div>
                        <div class="text-muted">@item.Media.Name</div>
                    </div>
                }
            </section>
        </section>

        @*News*@
        <section class="col-sm-4 col-xs-12 navigation">
            <div class="row">
                <img src="@Url.Content($"~/{Settings.StaticImageDirectory}/{Settings.LogoFileName}")" style="height: 100px" /> @*temporary style*@
            </div>
            <section class="row news">
                <div class="col-xs-12">
                    <div class="title text-muted"><span>@Localization.NavSection_News</span></div>
                    <ul class="news">
                        @foreach (Article item in Model.Item2)
                        {
                            <li>
                                <a href="/Articles/View/@item.Id">@item.Title</a>
                                @if (item.Type == RecordLabel.ArticleType.Article)
                                {
                                    <span class="text-muted italic">(@RecordLabel.ArticleType.Article.ToString())</span>
                                }
                                <span class="text-muted">@item.Date.ToString("yyyy MM dd")</span>
                            </li>  
                        }
                    </ul>
                    <ul>
                        <li class="btn menu-btn">@Html.ActionLink(Localization.Home_MoreNews, "Index", "Articles", new { area = "" })</li>
                    </ul>
                </div>
            </section>
            <section class="row">
                <nav class="col-xs-12">
                    <ul class="front-page-menu">
                        <li class="btn menu-btn">@Html.ActionLink(Localization.NavSection_Releases, "Index", "Release")</li>
                        <li class="btn menu-btn">@Html.ActionLink(Localization.NavSection_Ordering, "Ordering", "Home")</li>
                        <li class="btn menu-btn">@Html.ActionLink(Localization.NavSection_Contact, "Index", "Home")</li>
                    </ul>
                </nav>
            </section>
        </section>
    </div>
</div>