@using RecordLabel.Content
@using RecordLabel.Web
@using RecordLabel.Web.Localization
@model Tuple<Release[], Article[]>

@System.Web.Optimization.Styles.Render("~/Css/Home/Index")
<link rel="stylesheet" href="~/Content/Views/Shared/Common.css" />
<link rel="stylesheet" href="~/Content/Views/Shared/Edit/EditButtons.css" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool adminMode = Global.IsAdminMode;
}

<div class="row">
    <section class="col-md-6 col-xs-12">
        <section class="sm-margin-right frame shadow-box">
            <div class="row">
                <div class="responsive-img-box aspect-16by9">
                    <img class="img-rounded" src="@Url.Content($"~/{Model.Item1[0].Cover?.FullFileName()}")" />
                    @*<div class="content" name="description">
                        <div name="desc-container">item.Title</div>
                    </div>*@
                </div>
            </div>

            <section class="row new-releases">
                <h1><span class="text-muted">@ApplicationLocalization.Home_NewReleases</span></h1>
                @foreach (Release item in Model.Item1)
                {
                    <div class="item" data-id="@(item.Id)">
                        @Html.Partial("DisplayPartials/ReleaseSmall", new RecordLabel.Web.ViewModels.ReleaseSmall { Release = item, AdminMode = adminMode })  
                    </div>
                }
            </section>
        </section>
        <section class="sm-margin-left navigation frame shadow-box">
            <nav class="row front-page-menu">
                @Html.ActionLink(ApplicationLocalization.NavSection_Releases, "Index", "Release", new { @class = "menu-btn label2 invert2 border" })
            </nav>
        </section>
    </section> 

    @*News*@
    <section class="col-md-6 col-xs-12 navigation">
        <section class="sm-margin-left">
            <div class="row frame shadow-box" id="TheList">
                <h1><span class="text-muted">@ApplicationLocalization.NavSection_News</span></h1>
            </div>
            <div class="row">
                @foreach (Article item in Model.Item2)
                {
                    @Html.ListItemWithImage(new RecordLabel.Web.ViewModels.ListItemWithImageModel { Model = item, AdminMode = adminMode, TargetControllerName = "Articles", ContainerClass = "" });
                }
            </div>
        </section>
        <section class="sm-margin-left navigation frame shadow-box">
            <nav class="row front-page-menu">
                @Html.ActionLink("Load More News", "Ordering", "Home", new { @class = "menu-btn label2 invert2 border" })
            </nav>
        </section>
        <section class="sm-margin-left navigation frame shadow-box">
            <nav class="row front-page-menu">
                @Html.ActionLink(ApplicationLocalization.NavSection_Ordering, "Ordering", "Home", new { @class = "menu-btn label2 invert2 border" })
                @Html.ActionLink(ApplicationLocalization.NavSection_Contact, "Contact", "Home", new { @class = "menu-btn label2 invert2 border" })
            </nav>
        </section>
    </section>
</div>
