@using RecordLabel.Content
@using RecordLabel.Content.Localization
@using RecordLabel.Web.Localization

@model Artist

@System.Web.Optimization.Styles.Render("~/Css/EditWithImages")
@System.Web.Optimization.Scripts.Render("~/Js/Artist/Edit")

@{
    string action = (ViewContext.RouteData.Values["action"] as string)?.ToUpperInvariant();
    ViewBag.Title = action;
}

<h2>@action</h2>

@using (Html.BeginForm(action, "Artist", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Artist</h4>
        <hr />
        @Html.ValidationSummary(true, String.Empty, new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <span>Description</span>
            <div>
                @Html.EditorForEnumBasedCollection(model => model.Localization.Collection, localization => localization.Language, localization => localization.Text, new EnumBasedCollections.CssClasses("form-group", "control-label col-md-2", "col-md-10", "form-control rich-text"), EnumBasedCollections.InputFieldType.TextAreaModal)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ReleaseIds", ApplicationLocalization.Releases, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBox("ReleaseIds", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Attributes, null, String.Empty)
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@ContentLocalization.References</label>
            <div class="col-md-10">
                @Html.ModalOpenButton("ReferencesModal", AdminApplicationLocalization.Edit_EditReferences)
            </div>
        </div>

        <div>
            @{
                MvcHtmlString refEditor = Html.EditorForASet<Artist, ReferenceSet, Reference>(model => model.References, "ModelReferences");
                MvcHtmlString addRefBtn = Html.ButtonForModal(AdminApplicationLocalization.Edit_AddReference, null, "addReferenceBtn");
                @Html.ModalDialog("ReferencesModal", refEditor, ContentLocalization.References, addRefBtn);
            }
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Images, null, String.Empty)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink(ApplicationLocalization.Cancel, "Index", null, new { @class = "btn btn-default", role = "button" })
            </div>
        </div>
    </div>
}

@Html.Partial("DeleteModelButton")

<div id="Templates">
    @(Html.EditorTemplateFor(model => model.References.Collection))
</div>

@Html.BackButtonBar(AdminApplicationLocalization.Edit_BackToArtists)