@using RecordLabel.Web.Localization

@model RecordLabel.Content.Metadata.Attribute

@System.Web.Optimization.Styles.Render("~/Css/Edit")
@System.Web.Optimization.Scripts.Render("~/Js/Metadata/Edit")

@{
    string action = (ViewContext.RouteData.Values["action"] as string)?.ToUpperInvariant();
    ViewBag.Title = $"{action} {ViewBag.ItemType}";
}

<h2>@action</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@ViewBag.ItemType</h4>
        <hr />
        @Html.ValidationSummary(false, String.Empty, new { @class = "text-danger" })

        <div>
            @Html.EditorForEnumBasedCollection(model => model.Localization.Collection, localization => localization.Language, localization => localization.Text, new EnumBasedCollections.CssClasses("form-group", "control-label col-md-2", "col-md-10", "form-control"))
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink(ApplicationLocalization.Cancel, "Index", null, new { @class = "btn btn-default", role = "button" })
            </div>
        </div>
    </div>
}
@Html.Partial("DeleteModelButton")

@Html.BackButtonBar(ManagementApplicationLocalization.Edit_BackToAttributes)
